# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Ptyhon
__pycache__/

# environment file
.env

# CourseComparator
__cc_cache__/
SECRET.py

# pypi
dist/
*.egg-info/

# data
data/
